.header {
    font-size: 18px;
    font-weight: 700;
}

.container {
    background-color: rgba(233,234,237);
    
    color: black;
    width: 100%;
    
    margin-bottom: 2px;
    margin-top: 12px;
    margin-left: 355px;
    padding-top: 160px; 
    
}

.brand{
    
    font-size: 24px;
    font-weight: 700;
}

.brand2{
    
    font-size: 22px;
    font-weight: 400;
}

