.header {
    font-size: 18px;
    font-weight: 700;
}

.container {  

    color: black;
    background-color: white; 
    border: 1px black solid;
    margin-top: 0px;
    height: 50%; 
    margin-bottom: 16px;
    flex-basis: 20%;
    
    
}

.brand{
    font-size: 24px;
    font-weight: 700;
}

.brand2{
    
    font-size: 22px;
    font-weight: 400;
}

img {
    width: 50%;
}


