.header {
    font-size: 11px;
    font-weight: 700;
}

.brand{
    font-size: 16px;
    font-weight: 700;
}

.brand2{
    font-size: 16px;
    font-weight: 400;
}

.container{
    border: 1px grey solid;
}