.titleBackground {
    
    background-color: white;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 700;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 1px;
    border-bottom-color: grey  
    
}


.brand{
    
    font-size: 18px;
    font-weight: 700;
}
